*,html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html.pscroll-html ,
.pscroll-html body {
  height: 100%;
  overflow: hidden;
}

#pscroll_container,
div.pscroll_sections
{
  height: 100%;
  position: relative;
}

div#pscroll_container {

  div.pscroll_section {
    background-size: cover;
    background-position: 50% 50%;
    transition: height .8s ease;
    height: 0;
    &.pscroll_active {
      height: 100%;
    }
  }
}